body {
	font-family: 'Vollkorn SC', serif;
	background-image: url(../images/space2.jpg);
	color: #F0F8FF;
}
.color {
	background-color: #000;
}
.psychic-ability {
	width: 100%;
	margin-bottom: 25px;
}
.title {
	text-align: center;
	line-height: 90px;
}
.header {
	height: 100px;
	margin-bottom: 25px;
}
.question {
	text-align: center;

}
.gamespace {
	padding: 3%;
}